<?xml version="1.0"?>
<configuration>
      <system.serviceModel>
        
        <behaviors>
          <endpointBehaviors>
            <behavior name="jsonbinding">
              <webHttp />
            </behavior>
          </endpointBehaviors>
          <serviceBehaviors>
            <behavior name="mexBehavior">
              <serviceMetadata httpGetEnabled="true" />
            </behavior>
            <behavior name="">
              <serviceMetadata httpGetEnabled="true" />
              <serviceDebug includeExceptionDetailInFaults="true" />
            </behavior>
          </serviceBehaviors>
          
        </behaviors>
        <services>
          <service name="WCFHosting.CallerService">
            <endpoint address="" behaviorConfiguration="jsonbinding" binding="webHttpBinding"
              bindingConfiguration="" contract="WCFHosting.ICallerService">
              <identity>
                <dns value="localhost" />
              </identity>
            </endpoint>
            <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            <host>
              <baseAddresses>
                <add baseAddress="http://localhost:5884/CallerService/" />
              </baseAddresses>
            </host>
          </service>
        </services>
    </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
